<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this000 template -->
    <link href="starter-template.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand h3" href="#">እርዳታ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template align-content-center offset-4" style="margin-top:30px">
        <div class="col-sm-4  ">
            <div class="row center-block" style="margin-bottom: 20px;">
                <ul class="nav nav-tabs " style="line-break: auto;">
                    <li><a class="" data-toggle="tab" href="#log_in" style="margin-right: 15px; margin-left: 5px;">Log
                        in</a></li>

                    <li><a class="" data-toggle="tab" href="#sign_up" style="margin-right: 5px; margin-left: 15px;">sign_up</a>
                    </li>
                </ul>
            </div>
            <div class="row center-block">
                <div class="tab-content">
                    <div class="tab-pane  active form-group " id="log_in">
                        <form method="post"  th:object="${register}>
                            <div class="form-group">
                                <label for="loginUsername" class="control-label ">User Name</label>
                                <input type="text" id="loginUsername" name="loginUsername" class="input-lg" >
                            </div>
                            <div class="form-group ">
                                <label for="loginPassword" class="control-label">Password</label>
                                <input type="password" id="loginPassword" name="loginPassword" class="input-lg">
                            </div>
                            <div class="form-group ">
                                <input type="submit" value="Log in" class="btn btn-default pull-right">
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="sign_up">
                        <form action="/signup" method="post" class="form-group form-horizontal">
                            <div class="form-group ">
                                <label for="full_name" class="control-label">Full Name: </label>
                                <input type="text" id="full_name" name="full_name" class="input-lg">
                            </div>
                            <div class="form-group ">
                                <label for="user_name" class="control-label">User Name: </label>
                                <input type="text" id="user_name" name="user_name" class="input-lg">
                            </div>

                            <div class="form-group ">
                                <label for="first_password" class="control-label">Password</label>
                                <input type="password" id="first_password" name="first_password" class="input-lg">
                            </div>
                            <div class="form-group ">
                                <label for="confirm_password" class="control-label">Confirm Password</label>
                                <input type="password" id="confirm_password" name="confirm_password" class="input-lg">
                            </div>
                            <div class="form-group ">
                                <input type="submit" value="Sign up" class="btn btn-default pull-right">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
</body>
</html>
